name: CI/CD

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        run: |
          git pull origin main  # Varmistaa, ett채 uusimmat muutokset on haettu
          npm install           # Asentaa riippuvuudet
          npm run build          # Rakentaa sovelluksen
          dir      # K채ynnist채채 sovelluksen uudelleen
